*.js              text eol=lf
*.ts              text eol=lf
*.tsx             text eol=lf
*.md              text eol=lf
*.vue             text eol=lf
*.css             text eol=lf
*.scss            text eol=lf
*.less            text eol=lf
*.html            text eol=lf
*.lock            text eol=lf
*.json            text eol=lf
.npmrc            text eol=lf
.gitignore        text eol=lf
.prettierrc       text eol=lf
.editorconfig     text eol=lf
.gitattributes    text eol=lf
.browserslistrc   text eol=lf
